* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1280px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: transparent;
}

main {
  margin-top: -90px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94%;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.title {
  font-size: 32px;
  color: #F1CDB3;
}

.subtitle {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_text {
  line-height: 160%;
  font-size: 15px;
  color: #CDCDCD;
}

#logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 0 0 3%;
  background: url(/shelter/assets/start-screen-gradient-background.png);
}

#logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 322px;
  margin-top: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#dog {
  margin-top: 90px;
  width: 58%;
}

h1 {
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 310px;
}

#subheading {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

#primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 207px;
  height: 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  color: #292929;
  background-color: #F1CDB3;
}
/*# sourceMappingURL=style.css.map */